*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}

.nav{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

#icono-carrito{
    cursor: pointer;
}

.borde{
    border-bottom: 2px solid #ececec;
    padding-bottom: 0.2em;
}

.carrito{
    position: absolute!important;
    top: 79px;
    right: -18px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    width: 450px;
    display: none;
}


.titulo-carrito{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.contenedor-tienda{
    position: relative;
}

#contenedor-productos {
    max-width: 1300px;
    margin:40px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:1.5rem;
}

.card {
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}


